@media (max-width: 1220px) {
    .cards-3 {
        grid-template-columns: 1fr !important;
    }
}

@media (max-width: 920px) {
    .cards {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .cards-2 {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .container-detail-page {
        margin: 1% 8% !important;
    }
    .cards-6 {
        grid-template-columns: 1fr !important;
    }
}

@media (max-width: 700px) {
    .cards {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .container-detail-page {
        margin: 1% 5% !important;
    }
    .player-header-name-container {
        font-size: 2rem !important;
    }
    .player-header-position-container,
    .player-header-bats-container,
    .player-header-height-weight-container,
    .player-header-age-container {
        font-size: 1.2rem !important;
    }
}

@media (max-width: 520px) {
    .cards {
        grid-template-columns: 1fr !important;
    }
    .cards-2 {
        grid-template-columns: 1fr !important;
        margin: 0 10% !important;
    }
    .container-roster-page {
        margin: 1% 10% !important;
    }
    .container-detail-page {
        margin: 1% 1% !important;
    }
    .team-card {
        height: 160px !important;
    }
    .team-card-name-container {
        font-size: 1.4rem !important;
    }
    .player-header-name-container {
        font-size: 1.7rem !important;
    }
    .player-header-position-container,
    .player-header-bats-container,
    .player-header-height-weight-container,
    .player-header-age-container {
        font-size: 1.1rem !important;
    }
    .player-pitch-types-table {
        font-size: 0.8rem !important;
    }
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
}

h1 {
    font-family: 'Averia Serif Libre', cursive;
}

/* svg {
    width: 450px;
    height: 300px;
    overflow: visible;
} */

.btn {
    font-family: 'Lexend Deca', sans-serif; 
    margin-top: 10px;
    margin-bottom: 30px;
    border: 0;
    line-height: 3rem;
    padding: 0 20px;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border-radius: 0.7rem;
    background-color: #4e5700;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btn:hover {
    background-color: #9ba826;
    cursor: pointer;
}

.btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.container-roster-page {
    margin: 1% 3%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-button {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #ccdcff;
}

.teams-header {
    font-size: 2.3rem;
    font-weight: bold;
    font-family: 'Averia Serif Libre', cursive;
    margin: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card {
    border-radius: 0.5rem;
    color: #eeeeee;
    background-color: #141414;
    height: 400px;
    text-align: center;
}

.card-lefty {
    border-radius: 0.5rem;
    color: #eeeeee;
    background-color: #3b0e0e;
    height: 400px;
    text-align: center;
}

.card-switch {
    border-radius: 0.5rem;
    color: #eeeeee;
    background-color: #0a0d2f;
    height: 400px;
    text-align: center;
}

.card:hover {
    background-color: #313131;
}

.card-lefty:hover {
    background-color: #853030;
}

.card-switch:hover {
    background-color: #272875;
}

.card img,
.card-lefty img,
.card-switch img,
.player-header img,
.player-header-lefty img,
.player-header-switch img {
    width: 100%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.card-image-container {
    padding-top: 10px;
    margin-bottom: 0;
}

.card-name-container {
    margin: 10px 0;
    padding: 0 1%;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 1.7rem;
    font-weight: bold;
}

.card-info-container {
    margin: 0;
    padding: 0 1%;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.team-card {
    border-radius: 0.5rem;
    color: #eeeeee;
    background-color: #141414;
    height: 200px;
    text-align: center;
}

.team-card:hover {
    background-color: #313131;
}

.team-card img {
    width: 100%;
    width: 90px;
    height: 90px;
    object-fit: scale-down;
}

.team-card-image-container {
    padding-top: 10px;
    margin-bottom: 0;
}

.team-card-name-container {
    margin: 10px 0;
    padding: 0 1%;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 1.75rem;
    font-weight: bold;
}

.container-detail-page {
    margin: 1% 8%;
}

.player-header {
    display: flex;
    flex-direction: row;
    background-color: #141414;
    border-radius: 1rem;
    margin-bottom: 20px;
}

.player-header-lefty {
    display: flex;
    flex-direction: row;
    background-color: #3b0e0e;
    border-radius: 1rem;
    margin-bottom: 20px;
}

.player-header-switch {
    display: flex;
    flex-direction: row;
    background-color: #0a0d2f;
    border-radius: 1rem;
    margin-bottom: 20px;
}

.player-header-image-container {
    margin: 10px 1%;
}

.player-header-info-container {
    display: flex;
    flex-direction: column;
    margin: 10px 1% 10px 2%;
    justify-content: space-evenly;
}

.player-header-name-container {
    text-align: left;
    font-family: 'Averia Serif Libre', cursive;
    font-weight: bold;
    font-size: 2.3rem;
}

.player-header-position-container,
.player-header-bats-container,
.player-header-height-weight-container,
.player-header-age-container {
    text-align: left;
    font-size: 1.3rem;
    color: #dddddd;
}

.cards-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1% 1%;
    border-radius: 0.5rem;
    color: #eeeeee;
    background-color: #141414;
    height: 200px;
    text-align: center;
}

.player-splits-heading-container {
    font-family: 'Averia Serif Libre', cursive;
    font-weight: bold;
    font-size: 1.6rem;
}

.player-splits-table-container {
    margin: 0 auto;
}

.player-splits-table {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.player-splits-table-metric {
    padding: 3px 20px 3px 0;
}

.player-splits-table-value {
    padding: 3px 0 3px 20px;
}

.cards-3 {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1% 1%;
    border-radius: 0.5rem;
    color: #eeeeee;
    background-color: #141414;
    height: 400px;
    text-align: center;
}

.player-pitch-types-table-pitch-type {
    text-align: left;
}

.player-pitch-types-table-container{
    margin: 3% 3% 3% 4%;
}

.player-pitch-types-table {
    width: 100%;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

.player-pitch-types-table td {
    padding: 6px 0;
}

.graph {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.y-axis1 line,
.x-axis line,
.y-axis2 line {  
    stroke: purple;
    stroke-width: 3px;
}

.y-axis1 text,
.x-axis text,
.y-axis2 text {  
    font-size: 0.8rem;
    color: #ecd1ff;
}

.tooltip {  
    font-size: 0.8rem;
    color: #ecd1ff;
    stroke: white;
}

.cards-4 {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.card-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1% 1%;
    border-radius: 0.5rem;
    color: #eeeeee;
    background-color: #141414;
    text-align: center;
}

.graph-container {
    display: flex;
    justify-content: center;
}

.graph-container svg {
    background-color: #1f1f1f;
    overflow: visible;
}

.tooltip-text-location {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 80px;
}

.tooltip-text-movement {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 100px;
}

.cards-5 {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
}

.card-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1% 1%;
    border-radius: 0.5rem;
    color: #eeeeee;
    background-color: #141414;
    text-align: center;
}

.graph-subheading {
    margin-top: 10px;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 1rem;
}

.cards-6 {
    margin-top: 1rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0rem;
    column-gap: 0.5rem;
}

.card-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #eeeeee;
    background-color: #141414;
    text-align: center;
}

.card-6 svg {
    overflow: visible;
}